.main {        
    text-align: center;        
}

.solution {
    font-size: 3rem;
    background: yellow;
    color: red;
    padding: 8px;
    border-radius: 5px 5px 5px 5px; 
}

profile-form {        
    display: flex;
    flex-direction: row;
    justify-content: center;         
}